.image-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 140px;
  width: 100%;
  background-color: #4851b1;
}

  
  .image-preview {
    margin-bottom: 20px;
    margin: 100px;
  }
  
  .image-preview img {

    max-width: 400px;
    border-radius: 8px;
  }
  
  .image-form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0056b3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Sombra */
    border-radius: 10px ;
    padding: 20px; /* Espacio interno */
    margin-bottom: 20px; /* Margen inferior para separar las tarjetas */


width: 30%;
height: 500px;
  }
  .image-form input {

    margin-right: 200px;
  }
  .input-image{
    width: 200px;
    
  }
  
  .custom-file-upload {
    
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Color azul */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
  }
  
  #image-upload {
    display: none; /* Ocultar el input file por defecto */
  }
  
  .input-description {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #28a745; /* Color verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #218838; /* Color verde más oscuro al pasar el mouse */
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }

  /* Estilos para pantallas de hasta 767px (pequeñas) */
@media screen and (max-width: 767px) {
  .image-upload-container {
    flex-direction: column; /* Cambia la dirección de la columna para pantallas medianas */
    align-items: center; /* Centra los elementos en pantallas medianas */
  }
  .image-form {
    width: 90%; /* Ancho del formulario para pantallas pequeñas */
  }
}

/* Estilos para pantallas de 768px a 1024px (medianas) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .image-upload-container {
    flex-direction: column; /* Cambia la dirección de la columna para pantallas medianas */
    align-items: center; /* Centra los elementos en pantallas medianas */
  }

  .image-form {
    width: 70%; /* Ancho del formulario para pantallas medianas */
  }
}

/* Estilos para pantallas de más de 1024px (grandes) */
@media screen and (min-width: 1025px) {
  .image-form {
    width: 50%; /* Ancho del formulario para pantallas grandes */
  }
  
}