.container-image {
  margin-top: 60px;
  position: relative; /* Asegura que el contenido no se superponga al fondo */
  overflow: hidden; /* Oculta el desbordamiento del contenido */
  width: 100%;
  height: 100%;
  background-image: url('/body/cielo-otonal.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-attachment: fixed; /* Fija la imagen de fondo para crear el efecto de paralaje */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); /* Cuadrícula de imágenes responsiva */
  gap: 7px;
  margin-left: 100px;
  margin-top: 70px;
}

.image-item {
  margin-top: 50px;
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  height: 273px;
  width: 265px;
  border-radius: 20px;
}



.image-card {
  
  height: 480px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); /* Sombras suaves */
  width: 300px;
  overflow: hidden; /* Para que los bordes redondeados se apliquen correctamente */
}

.description {
  border-radius: 10px;
  color: red;
  background-color: rgb(0, 0, 0, 0.1);
  width: auto;
  height: 100px;
}

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-description {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 10px;
}

h2 {
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.red-heart {
  color: red;
}

.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 1%;
  background-color: rgb(221, 108, 21); /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno */
  cursor: pointer; /* Cambiar a cursor de puntero */
  border-radius: 4px; /* Bordes redondeados */
  width: 60px;
  height: 60px;
}

/* Estilo cuando se pasa el mouse sobre el botón */
.btn-delete:hover {
  background-color: darkred; /* Cambia el color de fondo al pasar el mouse */
}



/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el tamaño de las imágenes para pantallas pequeñas */
    margin-left: 20px; /* Ajusta el margen izquierdo para pantallas pequeñas */
    margin-top: 20px; /* Ajusta el margen superior para pantallas pequeñas */
    
  }

  
}

@media (max-width: 767px) {
  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  image-card{
    max-width: 767px;
    width: 200px;
    height: 350PX;
  }
  .image{
    max-width: 768px;
    width: 300px;
  }

  .image-item {
    max-width: 768px;

    width: 200px; /* Las imágenes ocuparán el ancho completo para pantallas extra pequeñas */
    height: 200px;
  }
  
} 

