.container-image {
  background: #fff;
  width: 100%;
  height: auto;
  margin: 0; /* Eliminar el margen para que las imágenes estén más pegadas al borde */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); /* Cuadrícula de imágenes responsiva */
  gap: 7px;
  margin-left: 100px;
  margin-top: 70px;
}

.image-item {
  margin-top: 50px;
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  height: 273px;
  width: 265px;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Altura del header del 80% del viewport height */
  background-color: #333; /* Color de fondo del header */
}

.container-header img {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: 100%; /* La imagen ocupará el 100% de la altura del contenedor */
  object-fit: fill; /* Hace que la imagen cubra todo el espacio del contenedor, manteniendo su relación de aspecto */
}

.image-card {
  
  height: 480px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  width: 300px;
  overflow: hidden; /* Para que los bordes redondeados se apliquen correctamente */
}

.description {
  border-radius: 10px;
  color: red;
  background-color: rgb(0, 0, 0, 0.1);
  width: auto;
  height: 100px;
}

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-description {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 10px;
}

h2 {
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.red-heart {
  color: red;
}

.btn-delete {
  margin-left: 35%;
  margin-top: 1%;
  background-color: black; /* Color de fondo rojo */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno */
  cursor: pointer; /* Cambiar a cursor de puntero */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
}

/* Estilo cuando se pasa el mouse sobre el botón */
.btn-delete:hover {
  background-color: darkred; /* Cambia el color de fondo al pasar el mouse */
}

/* Media queries para pantallas medianas */
@media (max-width: 992px) {
  .image-grid {
    margin-left: 50px; /* Ajusta el margen izquierdo para pantallas medianas */
    margin-top: 50px; /* Ajusta el margen superior para pantallas medianas */
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el tamaño de las imágenes para pantallas pequeñas */
    margin-left: 20px; /* Ajusta el margen izquierdo para pantallas pequeñas */
    margin-top: 20px; /* Ajusta el margen superior para pantallas pequeñas */
    
  }
}

@media (max-width: 767px) {
  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-item {
    width: 100%; /* Las imágenes ocuparán el ancho completo para pantallas extra pequeñas */
    height: 400px;
  }
  .image-card{
    height: 670px;
  }
} 

/* Media queries para pantallas extra pequeñas */
@media (max-width: 576px) {
  .image-item {
    width: 100%; /* Las imágenes ocuparán el ancho completo para pantallas extra pequeñas */
  }

  .image-grid {
    margin-left: 10px; /* Ajusta el margen izquierdo para pantallas extra pequeñas */
    margin-top: 10px; /* Ajusta el margen superior para pantallas extra pequeñas */
  }
}