.container-header {
  position: relative;
  width: 100%;
  height: 700px; /* Ajusta la altura según sea necesario */
}

.container-header .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-bottom-left-radius: 100px; /* Borde semicircular en la esquina inferior izquierda */
  border-bottom-right-radius: 300px; /* Borde semicircular en la esquina inferior derecha */

  background-color: rgb(72, 30, 20);
}

.container-header .header-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  border-bottom-left-radius: 50px; /* Borde semicircular en la esquina inferior izquierda */
  border-bottom-right-radius: 500px; /* Borde semicircular en la esquina inferior derecha */
}

.container-parrafo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el contenido en el medio */
  text-align: center; /* Alinea el texto al centro */
  color: #fff; /* Color del texto */
  font-size: 50px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de fuente */
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
  padding: 10px; /* Agrega un relleno alrededor del texto */
}
.container-p1 {
  display: flex;
  flex-direction: column;
}
.parrafo {
  width: 60vh;
}

.container-parrafo {
  display: flex;
  justify-content: center;
}

h1 {
  color: rgb(49, 30, 214);
  font-size: 100px;
}

.link-button {
  cursor: pointer; /* Cambia el cursor al pasar sobre el texto */
  color: blue; /* Cambia el color del texto a azul */
  text-decoration: none; /* Elimina la decoración de subrayado en el texto */
}

/* Opcional: estilos adicionales al pasar el cursor sobre el texto */
.link-button:hover {
  color: red; /* Cambia el color a rojo al pasar el cursor sobre el texto */
}

.link-text {
  color: black; /* Cambia el color del texto a azul */
  text-decoration: none; /* Elimina la decoración de subrayado en el texto */
}

.container-swiper h1 {
  /* width: 100%;
  height: 10%;
  background-color: #fff;
  margin-top: 100px; */
  font-size: 40px;
}

.slide-image {
  width: 100%; /* Ajustar la imagen al ancho del contenedor */
  height: 50vh; /* Altura automática para mantener la proporción */
  object-fit:cover; /* Ajustar la imagen para cubrir el contenedor */
  
}

.slide-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
 
}

@media screen and (max-width: 767px) {

  
  .container-swiper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-overlay {
    max-width: 767px;
    max-height: 767px;
    height: 300px;
  }
  .container-header{
    max-width: 767px;
    max-height: 767px;
    height: 340PX;
  }
  
  .container-swiper h1{
    
    font-size: 20px;
  }
  .container-h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 20px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative; /* Asegura que el borde se posicione correctamente */
    overflow: hidden; /* Oculta el contenido que se desborda del contenedor */
    border: 2px solid transparent; /* Borde inicial transparente */
    animation: borderAnimation 2s infinite linear; /* Animación infinita del borde */
  }
  
  /* Definición de la animación del borde */
  @keyframes borderAnimation {
    0% {
      border-color: red; /* Color inicial del borde */
    }
    25% {
      border-color: yellow; /* Primer color de transición */
    }
    50% {
      border-color: blue; /* Segundo color de transición */
    }
    75% {
      border-color: green; /* Tercer color de transición */
    }
    100% {
      border-color: red; /* Vuelve al color inicial */
    }
  }
 
}



