.footer {
  position: relative;
  background-color: #1d1919; /* Color de fondo del footer */
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.footer-section {
  flex: 1 1 250px;
}

.footer-section-title {
  font-size: 20px;
  margin-bottom: 15px;
  margin: 10px;
  color: #fff; /* Color del título de la sección */
}

.img-gmail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-section p {
  margin: 0;
  color: #fff; /* Color del texto de la sección */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
}

.footer-bottom p {
  margin: 5px 0;
  color: #fff; /* Color del texto del footer */
}

/* Ola de fondo */
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98.4%;
  height: 90px; /* Altura de la ola */
  background: url('https://www.transparenttextures.com/patterns/axiom-pattern.png'); /* Patrón de la ola */
  animation: wave 2s infinite linear alternate;
}

@keyframes wave {
  0% {
    transform: skewX(25deg);
  }
  50% {
    transform: skewX(-25deg);
  }
  100% {
    transform: skewX(25deg);
  }
}

/* Media queries para pantallas de hasta 767px (pequeñas) */
@media screen and (max-width: 767px) {
  .footer-section {
    flex-basis: 100%; /* Ajusta el tamaño de la sección para ocupar todo el ancho */
    margin-bottom: 30px; /* Agrega espacio entre las secciones */
  }
  .footer {
    height: auto; /* Ajusta la altura automáticamente */
  }
  .wave {
    width: 95.3%; /* Ajusta el ancho de la ola */
  }
}

/* Media queries para pantallas de 768px a 1024px (medianas) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-section {
    flex-basis: 50%; /* Divide las secciones en dos columnas */
  }
  .footer {
    height: auto; /* Ajusta la altura automáticamente */
  }
}